## Google
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='gemini-embedding-2-preview'
GOOGLE_GEMINI_DEFAULT_MODEL='gemini-3.1-flash-lite-preview'

## OpenAI
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'

## Database
DATABASE_URL=postgresql+psycopg://postgres:postgres@host.docker.internal:5432/rag
PG_VECTOR_COLLECTION_NAME=gpt5_collection

## PDF 
PDF_PATH=document.pdf
PDF_CHUNCKS=1000
PDF_OVERLAP=150